.route.about {
    & p {
        line-height: 1.4rem;
    }

    & h1 {
        margin-bottom: 1rem;
    }

    & h2 {
        border-bottom: 1px solid;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    & ul {
        list-style: none;
        padding: 0;
    }
}
