.route.accept {
    & .input-group {
        & input {
            padding-bottom: 2px;

            &:focus~label {
                top: -10px
            }

            &:not(:placeholder-shown)~label {
                top: -10px;
            }
        }

        label {
            top: 12px;
        }
    }

    & div.error {
        font-size: 1rem;
        margin-top: 2rem;

        &::before {
            color: #960000;
            border-bottom: 2px solid;
            margin-right: 1rem;
            content: "Error";
        }
    }
}
