.route.accept {
    & .input-group {
        & input {
            padding-bottom: 2px;

            &:focus~label {
                top: -10px
            }

            &:not(:placeholder-shown)~label {
                top: -10px;
            }
        }

        label {
            top: 12px;
        }
    }
}
