.route.invitations.create {
    & textarea {
        width: 100%;
        min-height: 8rem;
        padding: 1rem;
        border-radius: 0;
    }

    & label {
        margin-bottom: 1rem;
        display: block;
    }

    & .controls {
        margin-top: 3rem;
    }

    & .number-button {
        margin-bottom: 0;
    }

    & .input-group-number {
        margin-bottom: 0;
    }

    & input[type="number"] {
        width: 4rem;
    }
}
