.route.invitations {
    max-width: 40rem;

    & .content {
        min-height: 4rem;

        &.none {
            text-align: center;
        }
    }

    & .label {
        font-weight: lighter;
        text-decoration: underline;
        margin-right: 0.5rem;
    }

    & .controls {
        margin-top: 2rem;
    }

    & ul.invitations {
        list-style: none;
        padding: 0;

        & .invitation-field {
            margin-bottom: 0;
        }

        & li {
            border-top: 1px dotted;
            border-bottom: 1px dotted;
            align-items: center;
            padding: 0.5rem 0;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;

            &:last-child {
                margin-bottom: 2rem;
            }

            & copy-button {
                margin-right: 1rem;
                border: none;
            }
        }
    }
}
