.route.invitation-by-code {
    max-width: 30rem;

    & .controls {
        & .btn-outline {
            border-width: 1px;
            margin-left: 1rem;
        }

        & .btn-outline.danger {
            border-width: 2px;
        }
    }

    & dl {
        border-radius: 20px;
        border: 1px solid;
        padding-bottom: 1rem;
        background-color: white;
        margin-bottom: 2rem;
    }

    & dd {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    & div.uses {
        margin-bottom: 0;
        font-family: monospace;
        display: flex;
        align-items: baseline;

        & dt {
            display: inline;
        }

        & dd.uses {
            font-size: 1rem;
            font-weight: bold;
            padding: 0;
            margin-left: 1rem;
            min-width: 2.5rem;
            min-height: 2.5rem;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid;
            display: flex;
        }

        & .initial {
            background-color: transparent;
            margin-left: 0.5rem;
            font-size: 1rem;
        }
    }
}
