.route.link {
    & .add-device-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        border: 1px solid;
        padding: 1rem;

        & .url {
            margin-top: 2rem;
            text-align: center;

            & code {
                font-size: 1.5rem;
            }
        }

        & .controls {
            margin-right: 1rem;
            margin-top: auto;
        }
    }
}
