.route.link {
    --sl-tooltip-arrow-size: 0;

    & .add-device-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        border: 1px solid;
        padding: 1rem;

        & .new-machine-info {
            & p:first-child {
                margin-bottom: 0;
                text-decoration: underline;
            }
        }

        & .controls {
            display: flex;
            gap: 2rem;
            justify-content: flex-end;
            margin-right: 1rem;
            margin-top: auto;
        }

        & .url {
            display: flex;
            text-align: center;

            & code {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
    }
}
