.route.whoami {
    & sl-icon-button {
        font-size: 1.6rem;
    }

    & span.current-machine {
        font-weight: lighter;
    }

    & .profile {
        & dd {
            font-size: 1.2rem;
        }
    }

    & .markdown {
        margin-top: 1rem;
    }

    & .component.profile {
        & dt.note {
            margin-top: 1rem;
            border-bottom: 1px solid;
        }
    }

    & dl {
        & textarea {
            padding: 1rem;
        }
    }

    & ul {
        list-style: none;
        padding: 0;

        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 2.6rem;

            & div {
                margin-bottom: 0;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            & .dot {
                width: 10px;
                height: 10px;
            }
        }
    }
}