.route.whoami {
    & sl-icon-button {
        font-size: 1.6rem;
    }

    & span.current-machine {
        font-weight: lighter;
    }

    & .profile {
        & dd {
            font-size: 1.2rem;
        }
    }

    & ul {
        list-style: none;
        padding: 0;

        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div {
                margin-bottom: 0;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            & .dot {
                width: 10px;
                height: 10px;
            }
        }
    }
}