button.btn-edit-square {
    background-color: transparent;
    border: none;

    /* display: flex;
    justify-content: center; */
    height: fit-content;

    &:disabled {
        opacity: 0.4;
    }

    & edit-square {
        & svg {
            height: 1.4rem;
            width: 1.4rem;
        }
    }
}
