dd {
    padding-left: 1rem;
    padding-bottom: 4px;
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed gray;

    &:last-child {
        border-bottom: none;
    }
}

dt {
    font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

dl {
    margin-bottom: 2rem;
}
