:root {
    --mw: 35rem;
    --error-bgc: red;
    --focus-border-color: #00d3ff;
    --off-white: #FAF9F6;
    --danger: red;
}

hr {
    margin: 1rem 0;
}

code {
    font-size: 1rem;
}

textarea {
    &:focus {
        border: none;
        outline: 2px solid #00d3ff;
    }
}

.fourzerofour {
    & h1 {
        border-bottom: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
    }
}

div.error {
    background-color: white;
    border: 4px solid var(--error-bgc, red);
    padding: 1rem;
}

.index {
    transition: opacity 0.4s;

    &.loading {
        opacity: 0.4;
    }
}

body {
    interpolate-size: allow-keywords;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem;
    background-color: var(--off-white);

    & sl-tooltip {
        --show-delay: 800;
    }

    & copy-button {
        border: none;
        padding: 0;

        & button {
            border: 1px solid;
            padding: 7px 8px;
            border-radius: 8px;
            position: relative;
            top: -2px;

            &:hover {
                background-color: white;
            }
        }
    }

    & .sl-toast-stack {
        width: 80vw;
        left: 10vw;
        top: 82vh;

        & sl-alert {
            font-size: 1rem;
        }
    }

    & dl {
        padding: 1rem;
        max-width: 30rem;
        margin: 0 auto;
    }


    & div {
        margin-bottom: 1rem;
    }

    margin-bottom: 2rem;

    &.hamburging {
        position: fixed;
    }
}

pre {
    padding: 2rem;
    background-color: #d3d3d363;
}

.explanation {
    max-width: var(--mw);
}

.count-controls {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 1rem;
    }
}

h1, h2, p {
    margin-bottom: 1rem;
}

p {
    line-height: calc(3ex + 4px);
}

h1 {
    font-size: 1.4rem;
    border-bottom: 2px solid;

    & a {
        color: black;
        text-decoration: none;
    }
}

header {
    & h1 {
        margin-bottom: 0.2rem;
        text-align: center;
    }

    & nav {
        padding: 4px 0;
        margin-bottom: 2rem;
        border-bottom: 1px solid;
        min-height: 1.8rem;

        & li {
            & a {
                transition: all 0.2s;
                border-bottom: 2px solid transparent;
                text-decoration: none;

                &:hover {
                    border-bottom-color: #a5a5a5;
                }
            }

            &.active {
                & a {
                    border-bottom-color: black;
                }
            }
        }

        
    }

    & ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 1rem
    }
}

.route {
    width: 100%;
    max-width: var(--mw);
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.controls {
    margin-top: 1rem;
    text-align: right;
}

h2 {
    font-size: 1rem;
    border-bottom: 2px solid;
}

button {
    cursor: pointer;

    &:hover {
        background: seashell;
    }
}

/* ----------------------- overrides ----------------------------- */

.route {  /* stylelint-disable-line */
    & .input-group {
        & input {
            padding-bottom: 2px;

            &:focus~label {
                top: -10px
            }

            &:not(:placeholder-shown)~label {
                top: -14px;
            }
        }

        label {
            top: 12px;
        }
    }
}

/* ----------------------- /overrides ----------------------------- */


/* ----------------------- shoelace overrides ----------------------------- */

/*
    see https://www.abeautifulsite.net/posts/flash-of-undefined-custom-elements/
*/
:not(:defined) {
    visibility: hidden;
}

/* ----------------------- /shoelace overrides ---------------------------- */

@media (max-width: 600px) {
    nav {
        height: 5rem;

        & ul {
            gap: 1.5rem;
        }
    }
}
