.count-controls {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 1rem;
    }
}

.route {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.controls {
    margin-top: 1rem;
    text-align: right;
}

h1 {
    border-bottom: 2px solid;
}

h2 {
    font-size: 1.2rem;
}

h1, h2, p {
    margin-bottom: 1rem;
}

button {
    cursor: pointer;

    &:hover {
        background: seashell;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem;

    & div {
        margin-bottom: 1rem;
    }

    margin-bottom: 6rem;
}

pre {
    padding: 2rem;
    background-color: #d3d3d363;
}
